<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<param name="odom_used" default="true"/>
	<param name="imu_used" default="false"/>
	<param name="vo_used" default="false"/>

	<param name="output_frame" value="odom_combined"/>

	<!-- base node -->
	<node pkg="lemon_minibot_control" name="base"  type="base.py" output="screen">
		<!-- some times, the encoder will not correct, we can scale it -->
		<param name="scale"   value="2"/> 
		<param name="pub_tf"   value="false"/>   
		<param name="scale"   value="2"/>   
	</node>

	<!-- star ydlidar  -->
	<include file="$(find lemon_minibot_control)/launch/ydlidar.launch"/>

	<!-- rf2o -->
	<include file="$(find lemon_minibot_control)/launch/rf2o.launch"/>

	<!-- robot_pose_ekf -->
	<include file="$(find lemon_minibot_control)/launch/rf2o.launch"/> 
		<arg name="odom_used" value="$(arg odom_used)"/>
		<arg name="imu_used" value="$(arg imu_used)"/>
		<arg name="vo_used" value="$(arg vo_used)"/>

  		<remap from="imu_data" to="imu" />
  		<!-- default subscribe /imu_data  /odom  /vo-->
	</include>

	<!-- open gmapping -->
	<include file="$(find lemon_minibot_core)/launch/Gmapping.launch">
		<arg name="odom_frame" value="$(arg output_frame)"/>
	</include>

</launch>
