<?xml version="1.0" encoding="UTF-8"?>
<launch>

<param name="ar_description" command="$(find minibot_simulation)/robots/ar1.urdf"/>
	<node
    name="ar_model"
    pkg="gazebo_ros"
    type="spawn_model"
	respawn="false"
    args="-urdf -x 0 -y 0 -z 0 -param ar_description -model ar1"
    output="screen" />

</launch>

