<?xml version="1.0" encoding="UTF-8"?>
<launch>

 
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<!-- <arg name="world_name" value="$(find lemon_minibot_core)/gazebo/minibot_Exported/minibot.world"/> -->
  	</include>

  	<param name="robot_description" command="$(find xacro)/xacro.py '$(find lemon_minibot_core)/gazebo/minibot_Exported/minibot/minibot.URDF'"/>

 	<node name="urdf_spawner" 
	 	pkg="gazebo_ros" 
	 	type="spawn_model"
	 	args="-urdf -param robot_description -model minibot" 
	 	respawn="false" 
		output="screen"/> 
</launch> 
