<?xml version="1.0"?>
<launch>
  <!-- Arguments -->

  <arg name="map_file" default="/homemap.yaml"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find lemon_minibot_control)/launch/amcl.launch"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find minibot_simulation)/config/navigation_rviz.rviz"/>
  </group>
</launch>
