<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <param name="robot2_description" command="$(find turtlebot3_copy)/urdf/ar.urdf"/>

  <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -x -2 -y 0 -z 1 -param robot2_description -model minibot2" />



</launch>

