<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0.1 0 0 0 base_footprint base_link 40" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find minibot_simulation)/worlds/myhome.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <param name="robot2_description" command="$(find xacro)/xacro.py '$(find turtlebot3_copy)/urdf/turtlebot3_waffle_pi.urdf.xacro'"/>

  <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -x -2 -y 0 -z 0 -param robot2_description -model minibot2" />

  

  <node pkg="tf" type="static_transform_publisher" 
        name="base_link2laser_link"     
        args="-0.05 0 0.05 0 0 0 /base_link /base_scan 30"/>


  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>
