<launch>
	<!-- base node -->
	<node pkg="lemon_minibot" name="base"  type="base.py" output="screen"
	<param name="scale"   value="2"/>   
	/>

	<!-- star ydlidar  -->
	<include file="$(find lemon_minibot)/launch/ydlidar.launch"/>

	<!-- open gmapping -->
	<include file="$(find lemon_minibot)/launch/Gmapping.launch"/>

</launch>
